/*Estilos generales*/

body {
    font-family:  "raleway";
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}


/*Estilos para el header*/

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 55, 55);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.centrado {
    text-align: center;
}
.categoria{
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    margin-left: 10px;
}

.funciones_header {
    display: flex;
}

.funciones_header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


/*Estilos para la parte de abajo del header*/

.headerlow {
    background-color: rgb(55, 55, 55);
    color: white;
    padding: 10px;
}

.headerlow nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.headerlow nav ul li {
    margin: 0 10px;
}

.headerlow nav ul li a {
    color: white;
    text-decoration: none;
}


/*Estilos para la parte de los productos en la homepage*/

main {
    margin: 0px;
}

.category {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.fafa-shopping-cart {
text-align: right;

}

.product {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.product img {
    width: 100%;
    height: 300px; 
}

.vermás {
    background-color: rgb(55, 55, 55);
    color: white;
    width: 80px;
    height: 25px;
    border-radius: 3px;
}

.canasta {
    background-color: rgb(55, 55, 55);
    color: white;
    width: 35px;
    height: 25px; 
    border-radius: 3px;
}


/*Estilos para el footer*/

.nombres {
    text-align: center;
    background-color: rgb(55, 55, 55);
    color: white;
    height: 150px;
    align-content: center;
}


/*Estilos responsive para la home page*/

@media (max-width:768px) {
    .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product {
        align-content: space-around;
    }

    .headerlow {
        font-size: smaller;
    }
}


/*Estilos para la página de detalle de producto*/

.productoespecifico {
    width: 300px;
}

.fotoiphones {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    height: 300px;
}

.descripción {
    margin-left: 15px;
    margin-right: 15px;
}

.agregar {
    background-color: rgb(55, 55, 55);
    color: white;
    font-size:medium;
    width: 180px;
    height: 35px;
    border-radius: 3px;
}


/*Estilos responsive para la página de detalle de producto*/

@media (max-width: 768px) {
    .fotoiphones {
        height: 55%;
        width: 70%;
    }
}


/*Estilos para el formulario de regirstro*/

.sesion {
    text-align: center;
    font-size: 50px;
}

.nombre-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.nombre {
    margin-bottom: 20px;
    flex: 0 0 48%; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #979292;
    box-sizing: border-box; 
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; }


/*Estilos para el formulario de login*/

.general {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.contenedor_login {
    background-color: white;
    padding: 10px;
}

.form_login {
    display: flex;
    flex-direction: column;
    width: 280px;
    text-align: center;
}

.usuario {
    margin-bottom: 15px;
}

.ingresar {
    background-color: rgb(74, 85, 239);
    color: white;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.links_login {
    margin-top: 10px;
    color: rgb(3, 3, 198);
}

