h1 {
    color: aliceblue; 
}

.header {
    background-color: rgb(135, 114, 82);
    width: 100vw;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    justify-content: space-around;
}

.fafa-shopping-cart {
text-align: right;

}

